.header{
    background-color: #F9DB79;
    width: 100%;
    position: fixed;
    top: 0;
    
}
.caixa_menu{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 20px;
}

.caixa_menu .nav_menu{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}
.caixa_menu .nav_menu a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 0.2rem;
    font-size: 1.2rem;
}
.topo_logo{
    width: 60px;
}

@media screen and (max-width: 768px) {
    .caixa_menu{
        flex-direction: column;
        gap: 0.3rem;
        padding: 2rem 0;
        justify-content: center;
        height: 120px;
        margin: 0;
    }
    .linha{
        width: 90%;
        padding: 0.5px 0;
        background-color: rgba(102, 77, 77, 0.8);
    }
}