.card_sabores{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
    box-shadow: 0 0 10px rgb(197, 191, 191);
    border-radius: 7px;
    text-align: center;
    gap: 2rem;
    padding: 1rem;
}
.card_img{
    height: 240px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_img .image{
    height: 260px;
    width: 260px;
}

@media screen and (max-width: 768px) {
    .card_sabores{
        max-width: 100%;
    }
}